/*regole comuni*/
.container{
    width: 80%;
    margin: 70px auto;
    font-size: 12px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*regole delle righe */
.row{
    margin: 40px 0px;
    text-align: center;
}
.product{
    position: relative;
    display: inline-block;
    margin: auto 7px;
    width: 31%;
}
img{
    width: 100%;
}


/*regole per effeto hover*/
.foto2{
    position: absolute;
    left: 0;
    z-index: 1;
}
.foto1{
    position: relative;
    z-index: 2;
}

.foto-prodotto:hover .foto1{
    z-index: 0;
}
/*fine regole per effetto hover*/

/*inizio regole etichette sulla foto del prodotto*/
.heart{
    font-size: 20px;
    background-color: #fff;
    position: absolute;
    z-index: 3;
    padding: 5px 10px;
    right: 0px; 
    top: 10px;   
}
.etichetta{
    position: absolute;
    bottom: 60px;
    left: 0px;
    z-index: 3;
}
.sconto{
    background-color:#eb0037;
    color:#fff;
    padding: 3px 5px;
}
.sostenibilità{
    color: #fff;
    padding: 3px 5px;
    background-color: #00875a;
}
/*fine regole etichette sulla foto*/

/*inizio regole della descrizione prodotto*/
.articolo{
    text-align: left;
}
.prezzo-attuale{
    color: #eb0037;
    font-weight: bold;
}
.prezzo-vecchio{
    text-decoration:line-through ;
}
/*fine regole descrizione prodotto*/